/* 轮播图 */

.kv-swiper {
    width: 100%;
    height: 960px;
    position: relative;
}

.kv-swiper:before {
    content: "";
    display: block;
    padding-top: 10.9%;
    background: url(../img/kv-cover.png) no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    z-index: 2;
}


/*		主体部分*/

section {
    background: url("../img/bg-1.jpg");
}

.main-top {
    width: 1200px;
    margin: -180px auto 50px;
    border: 2px solid #dcdcdc;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background: #f8fef9;
    z-index: 9999999999999999999;
}


/* 右边tab部分*/

.mt-right {
    float: left;
    width: 353px;
    margin: 28px 0 0 20px;
}

.mt-right .tab-hd {
    padding-bottom: 2px;
    border-bottom: 1px solid #afc3e0;
    font-size: 0;
}

.mt-right .tab-hd>li {
    display: inline-block;
    width: 75px;
    font-size: 12px;
    text-align: center;
}

.mt-right .tab-hd>li>a {
    color: #afc3e0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 4px solid transparent;
}

.mt-right .tab-hd>li>a:hover {
    border-left: 4px solid #78b5fb;
}

.col-news>li {
    line-height: 32px;
    padding-bottom: 3px;
    margin-top: 14px;
    padding-bottom: 3px;
    margin-top: 14px;
    position: relative;
}

.col-news>li:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, #b2c7e3, #b2c7e3 1px, transparent 1px, transparent);
    background-size: 8px 100%
}

.col-news>li a {
    display: block;
    padding-right: 20px;
    padding-left: 24px;
    color: #3eabff;
}

.col-news>li a:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 7px;
    left: 0;
    background: url(../img/spr.png) no-repeat;
    background-position: -460px -100px;
}

.col-news>li .time {
    float: right;
    color: #6e94cd;
}


/*主体左边*/

.mt-left {
    float: left;
    width: 144px;
}

.mt-qr {
    border: 1px solid #ebf2eb;
    padding: 4px;
    background-color: #fff;
    border-radius: 10px;
}

.mt-qr>img {
    width: 134px;
    height: 134px;
}

.mt-qr-text {
    text-align: center;
    font-size: 18px;
    color: #6c6c6c;
    margin-top: 7px;
}

.mt-app-btn,
.mt-apk-btn {
    display: block;
    width: 154px;
    height: 65px;
    margin-left: -5px;
}

.mt-app-btn {
    background-position: -520px 0;
    margin-top: 15px;
}

.mt-apk-btn {
    background-position: -690px 0;
    margin-top: 8px;
}


/*主体中间部分*/

.mt-center {
    width: 620px;
    height: 320px;
    float: left;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 20px;
    border: 1px solid #ccc;
    position: relative;
}

.adPic {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.adPic a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: #0e97dc;
}

.adPic img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.adBtn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #666;
    background: rgba(4, 0, 0, .46);
}

.adBtn>a {
    display: inline-block;
    height: 100%;
    width: 40px;
    position: relative;
    overflow: hidden;
    padding-right: 40px;
    box-sizing: border-box;
    ;
    text-indent: -9999px;
    font-size: 18px;
    color: #fff;
    line-height: 50px;
}

.adBtn>a:before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background: url("../img/spr.png") no-repeat;
    background-position: -390px -100px;
}

.adBtn>a.on:before {
    background-position: -350px -100px;
}

.adBtn>a.on {
    width: 540px;
    text-indent: 30px;
}

.other-entry {
    font-size: 0;
    text-align: center;
    white-space: nowrap;
}

.other-entry>a {
    display: inline-block;
    width: 300px;
    height: 160px;
    transition: all 0.5s;
    margin: 0 5px;
}

.other-entry>a:hover {
    transform: translateY(-8px);
}

.e-spr {
    background: url(../img/e-spr.png) no-repeat;
}

.entry-1 {
    background-position: -320px 0;
}

.entry-2 {
    background-position: -640px 0;
}

.entry-3 {
    background-position: -960px 0;
}

.entry-4 {
    background-position: 0 0;
}


/* 宠物轮播图*/

.fairy-wrap {
    width: 1200px;
    height: 680px;
    margin: 0 auto;
    padding-top: 60px;
    overflow: hidden;
    background: url(../img/sp.png) no-repeat center center;
    position: relative;
}

.fairy-name {
    margin-top: 120px;
    z-index: 2;
    height: 73px;
    text-indent: -99999px;
    background: url(../img/e2add4ba5d274c445474f842b359331d.png) no-repeat;
}

.story-tit {
    width: 89px;
    height: 19px;
    margin-top: 66px;
    z-index: 2;
    background-position: -800px -70px;
    text-indent: -99999px;
}

.fairy-story {
    color: #3eabff;
    font-size: 14px;
    line-height: 22px;
    width: 334px;
    margin-top: 24px;
    z-index: 2;
    min-height: 100px;
    max-height: 240px;
    overflow: auto;
    padding-right: 10px;
}

.fairy-more-btn {
    display: block;
    position: relative;
    width: 190px;
    height: 52px;
    box-sizing: border-box;
    line-height: 52px;
    text-align: center;
    font-size: 24px;
    color: #5babfb;
    text-indent: -40px;
    margin-top: 50px;
    background-position: -690px -740px;
}

.fairy-more-btn:before {
    content: '';
    display: block;
    width: 33px;
    height: 25px;
    top: 50%;
    right: 22px;
    margin-top: -12.5px;
    position: absolute;
    background: url(../img/spr.png) no-repeat -690px -560px;
}

.fairy-img {
    height: 640px;
    position: absolute;
    left: 360px;
    top: 0;
}

.fairy-wrap:before {
    content: '';
    display: block;
    width: 443px;
    height: 460px;
    background: url(../img/f-bg.png) no-repeat;
    position: absolute;
    left: 420px;
    top: 130px;
}


/*宠物的分类*/

.fairy-class {
    width: 300px;
    height: 260px;
    position: absolute;
    right: 0;
    top: 120px;
    text-align: right;
    overflow: auto;
    z-index: 2;
}


/*设置滚动条的样式	*/

.fairy-class::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.fairy-class::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5babfb;
}

.fariy-class::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e8eef0;
}


/*设置滚动条的样式	*/

.fairy-class-item {
    display: inline-block;
    line-height: 34px;
    margin: 3px 40px 3px 0;
    padding: 0 35px 0 15px;
    font-size: 20px;
    color: #5babfb;
    border-radius: 30px;
    position: relative;
}

.fairy-class-item.on {
    background-color: #5babfb;
    color: #fff;
}

.fairy-class-item.on:before {
    background: #fff;
}

.fairy-class-item:before {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -2px;
    background: #5babfb;
}

.fairy-pagination {
    font-size: 36px;
    color: #5babfb;
    position: absolute;
    right: 0;
    top: 450px;
    z-index: 3;
}

.fairy-ctrl {
    position: absolute;
    width: 220px;
    height: 100px;
    background-position: -680px -630px;
    right: 0;
    top: 540px;
    z-index: 3;
}

.fairy-ctrl>a {
    display: block;
    width: 46px;
    height: 34px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
}

.fairy-prev {
    left: 50%;
    background-position: -610px -710px;
    margin-left: -70px;
}

.fairy-next {
    right: 50%;
    margin-right: -70px;
    background-position: -610px -670px;
}


/*活动中心*/

.part2 {
    background-image: url(../img/bg-2.jpg);
    height: 981px;
    overflow: hidden;
}

.part2-inner {
    width: 1200px;
    margin: 180px auto 0;
    position: relative;
}

.p2-tit {
    width: 599px;
    height: 207px;
    background-position: 0 -290px;
    float: left;
}

.act-list li {
    border-radius: 20px;
    width: 450px;
    height: 250px;
    float: right;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}

.act-list li.act-0 {
    width: 720px;
    height: 420px;
    float: left;
}

.act-list li img {
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.act-list li:hover img {
    transform: scale(1.02);
}

.href-mask {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
}

.act-list li.act-1 {
    margin-top: -230px;
}

.act-list li.act-2 {
    margin-top: 30px;
}

.act-more-btn {
    position: absolute;
    bottom: 57px;
    right: 130px;
    width: 190px;
    height: 52px;
    box-sizing: border-box;
    border: 3px solid #a7751e;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    color: #a7751e;
    text-indent: -40px;
}

.act-more-btn:before {
    content: "";
    display: block;
    width: 33px;
    height: 25px;
    background: url(../img/spr.png) no-repeat;
    background-position: -690px -530px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -12.5px;
    transition: all .3s;
}

.act-more-btn:hover:before {
    transform: translateX(5px);
}


/*视频中心*/

.part3 {
    background-image: url("../img/bg-3.jpg");
    height: 961px;
}

.part3-inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.p3-tit {
    width: 552px;
    height: 222px;
    background-position: 0 -510px;
    float: right;
}

.video-tab {
    clear: both;
    font-size: 0;
    padding-top: 38px;
    text-align: left;
}

.video-tab .tab-prev,
.video-tab .tab-next {
    display: inline-block;
    width: 46px;
    height: 34px;
}

.video-tab a {
    vertical-align: middle;
}

.video-tab .tab-prev {
    background-position: -610px -590px;
}

.video-tab .tab-next {
    background-position: -610px -629px;
}

.video-tab .tab-hd {
    display: inline-block;
    font-size: 0;
}

.video-tab .tab-item {
    display: inline-block;
    position: relative;
    padding-left: 90px;
    padding-right: 30px;
    font-size: 12px;
}

.video-tab .tab-item:first-child {
    padding-left: 30px;
}

.video-tab .tab-item:before {
    content: "";
    display: block;
    width: 60px;
    height: 5px;
    background-color: #a7751e;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.5px;
    opacity: 0.5;
}

.video-tab .tab-item:first-child:before {
    display: none;
}

.video-tab .tab-item a {
    display: block;
    width: 96px;
    height: 27px;
    overflow: visible;
    opacity: 0.5;
}

.video-tab .tab-item a:hover {
    opacity: 1;
}

.video-tab .tab-item .zxsp {
    background-position: -520px -100px;
}

.video-tab .tab-item .gfsp {
    background-position: -520px -70px;
}

.video-tab .tab-item .gxsp {
    background-position: -630px -70px;
}

.video-tab .tab-item .jczb {
    background-position: -630px -100px;
}

.video-list-wrap {
    margin-top: 24px;
}

.video-list {
    position: relative;
    display: none;
}

.video-list.dis {
    display: block;
}

.video-list>li {
    border-radius: 20px;
    position: absolute;
    overflow: hidden;
    display: block;
    width: 280px;
    height: 173px;
    display: block;
}

.video-list>li.video-0 {
    width: 580px;
    height: 360px;
    margin: 0 auto;
    position: relative;
}

.video-list li img {
    width: 100%;
    height: 100%;
}

.video-list li .play-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(4, 0, 0, .4);
    transition: all .3s;
}

.video-list li .play-mask:before {
    content: "";
    display: block;
    background: url('../img/spr.png') no-repeat;
    background-position: -690px -450px;
    position: absolute;
    left: 50%;
    top: 45%;
    width: 46px;
    height: 51px;
    margin: -25px 0 0 -23px;
    transition: all .3s;
}

.video-list li:first-child .play-mask:before {
    width: 94px;
    height: 103px;
    background-position: -610px -290px;
    margin: -51px 0 0 -47px;
}

.video-list li .play-mask:hover {
    background: transparent;
}

.video-list li .play-mask:hover:before {
    opacity: 0;
    -webkit-transform: scale(2);
    transform: scale(2);
}

.video-tit {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    line-height: 30px;
    padding: 0 24px 0 42px;
    background: rgba(255, 255, 255, .7);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #4a5c73;
}

.video-list li:first-child .video-tit {
    padding-left: 66px;
    line-height: 60px;
    font-size: 18px;
}

.video-tit:before {
    content: "";
    display: block;
    width: 13px;
    height: 15px;
    background: url("../img/spr.png") no-repeat;
    background-position: -800px -130px;
    position: absolute;
    left: 26px;
    top: 50%;
    margin-top: -7px;
}

.video-list li:first-child .video-tit:before {
    left: 37px;
    width: 15px;
    height: 17px;
    margin-top: -8px;
    background-position: -800px -100px;
}

.video-list>li.video-1 {
    top: 0;
    left: 0;
}

.video-more-btn {
    float: right;
    margin-top: 50px;
    margin-right: 45px;
    position: relative;
    display: block;
    width: 190px;
    height: 52px;
    box-sizing: border-box;
    border: 3px solid #a7751e;
    line-height: 48px;
    text-align: center;
    font-size: 24px;
    border-radius: 20px;
    color: #a7751e;
    text-indent: -40px;
}

.video-more-btn:before {
    content: "";
    display: block;
    width: 33px;
    height: 25px;
    background: url("../img/spr.png") no-repeat;
    background-position: -690px -530px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -12.5px;
    transition: all .3s;
}

.video-more-btn:hover:before {
    transform: translateX(5px);
}

.video-list>li.video-2 {
    top: 187px;
    left: 0;
}

.video-list>li.video-3 {
    top: 0;
    right: 0;
}

.video-list>li.video-4 {
    top: 187px;
    right: 0;
}


/* 攻略中心*/

.part4 {
    background-image: url(../img/bg-4.jpg);
    height: 797px;
}

.p4-tit {
    width: 734px;
    height: 123px;
    background-position: 0px -160px;
    margin: 0 auto;
}

.strategy-wrap {
    width: 1200px;
    height: 500px;
    text-align: left;
    white-space: nowrap;
    font-size: 0px;
    margin: 80px auto 0;
    overflow: hidden;
}

.strategy-wrap>li {
    display: inline-block;
    font-size: 12px;
    width: 130px;
    height: 500px;
    margin-left: 10px;
    border-radius: 20px;
    overflow: hidden;
}

.strategy-wrap>li.on {
    width: 780px;
}

.strategy-wrap>li:first-child {
    margin-left: 0px;
}

.strategy-wrap>li.on .strategy-tit-1 {
    background-position: -140px 0px;
}

.strategy-tit {
    display: block;
    width: 130px;
    height: 500px;
    float: left;
    border-radius: 20px;
}

.strategy-tit-1 {
    background-position: 0px 0px;
}

.strategy-swiper {
    width: 456px;
    height: 222px;
    position: relative;
    margin: 42px auto 0px;
    border-radius: 20px;
}

.strategy-con {
    margin-left: 130px;
    height: 100%;
    border-radius: 20px;
    background: url(../img/strategy-con.png) no-repeat;
    background: cover;
    overflow: hidden;
    box-sizing: border-box;
}

.strategy-con .col-news {
    width: 480px;
    margin: 10px auto 0;
}

.strategy-con .col-news a,
.strategy-con .col-news .time,
.strategy-con .col-news li:first-child a,
.strategy-con .col-news li:first-child .time {
    color: #fff;
}

.strategy-con .col-news a:before,
.strategy-con .col-news li:first-child a:before {
    background-position: -480px -100px;
}

.strategy-more-btn {
    float: right;
    margin-top: 10px;
    margin-right: 90px;
    position: relative;
    display: block;
    width: 120px;
    box-sizing: border-box;
    border: 1px solid #a2a2a2;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    color: #a2a2a2;
    text-indent: -30px;
}

.strategy-more-btn:before {
    content: "";
    display: block;
    width: 22px;
    height: 11px;
    background: url('../img/spr.png') no-repeat;
    background-position: -690px -600px;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -5.5px;
    transition: all .3s;
}

.strategy-more-btn:hover:before {
    transform: translateX(5px);
}

.part5 {
    background-image: url(img/bg-5.jpg);
    height: 981px;
    position: relative;
}

.p5-tit {
    width: 900px;
    height: 92px;
    background-position: 0 -800px;
    margin: 0 auto;
}

.ts-wrap {
    width: 920px;
    margin: 50px auto 0;
    overflow: hidden;
    position: relative;
}

.ts-swiper {
    padding: 30px 0;
    width: 1200px;
    height: 100%;
}

.ts-swiper .swiper-slide {
    width: 350px;
    height: 100%;
    background: #fff;
}

.ts-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.ts-ctrl {
    display: block;
    display: block;
    width: 100px;
    height: 70px;
    outline: 0 !important;
    border-radius: 70px;
    border: 3px solid #5babfb;
    position: absolute;
    top: 460px;
    z-index: 333;
}

.ts-prev {
    left: 50%;
    margin-left: -590px;
}

.ts-next {
    right: 50%;
    margin-right: -590px;
}

.ts-prev:before,
.ts-next:before {
    content: "";
    display: inline-block;
    width: 36px;
    height: 34px;
    background: url(../img/spr.png) no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -17px 0 0 -18px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.ts-prev:before {
    background-position: -610px -510px;
}

.ts-next:before {
    background-position: -610px -550px;
}

.ts-prev:hover:before {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
}

.ts-next:hover:before {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}